$animate--about-hover: all 0.2s ease-in-out;
@keyframes animate--about-intro {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    opacity: 1;
    top: 40%;
  }
}

@keyframes animate--about-subtitle {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 15%;
  }
}

@keyframes animate--about-legend {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes chart-offset {
  100% {
    stroke-dashoffset: 0;
  }
}