@keyframes animate--about-intro {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    opacity: 1;
    top: 40%;
  }
}
@keyframes animate--about-intro__small {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    opacity: 1;
    top: 30%;
  }
}
@keyframes animate--about-subtitle {
  0% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 15%;
  }
}
@keyframes animate--about-legend {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chart-offset {
  100% {
    stroke-dashoffset: 0;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(95, 95, 95, 0.2), rgba(0, 0, 0, 0.9)), url("../img/header.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  font-family: "Nunito", sans-serif;
  color: #FFCC5C;
}
.header .header-title a {
  text-decoration: none;
  color: #FFCC5C;
  animation: animate--about-intro 1.5s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 15%;
  top: 40%;
  font-size: 40px;
}
.header .header-title a::before, .header .header-title a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 1px;
  height: 3px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
}
.header .header-title a::before {
  left: calc(40%);
  background-color: #FFCC5C;
}
.header .header-title a::after {
  right: calc(40%);
  background-color: #FFCC5C;
}
.header .header-title:hover {
  cursor: pointer;
}
.header .header-title:hover a::before, .header .header-title:hover a::after {
  width: 70%;
  opacity: 1;
}
.header .header-subtitle {
  animation: animate--about-subtitle 1.5s ease-in-out;
  position: absolute;
  left: 15%;
  top: 50%;
  font-size: 60px;
}
.header .header-legend {
  animation: animate--about-legend 3s ease-in-out;
  position: absolute;
  left: 15%;
  top: 65%;
  font-size: 20px;
}

.navbar {
  background-color: #2656B2;
  height: 5vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar ul li {
  list-style: none;
  display: inline;
  margin: 150px;
}
.navbar ul li a {
  color: white;
  font-size: 25px;
}
.navbar ul li a.active {
  color: #FFCC5C;
  font-size: 25px;
}

@media (max-width: 1024px) {
  .navbar {
    background-color: #2656B2;
    height: 5vh;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .navbar ul li {
    list-style: none;
    display: inline;
    margin: 111px;
  }
  .navbar ul li a {
    color: white;
    font-size: 25px;
  }
  .navbar ul li a.active {
    color: #FFCC5C;
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .navbar {
    background-color: #2656B2;
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .navbar ul li {
    list-style: none;
    display: inline;
    margin: 80px;
  }
  .navbar ul li a {
    color: white;
    font-size: 25px;
  }
  .navbar ul li a.active {
    color: #FFCC5C;
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .header .header-title a {
    animation: animate--about-intro__small 1.5s ease-in-out;
    top: 30%;
    font-size: 20px;
  }
  .header .header-subtitle {
    top: 40%;
    font-size: 30px;
  }
  .header .header-legend {
    left: 5%;
    top: 55%;
    font-size: 15px;
  }

  .navbar {
    background-color: #2656B2;
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .navbar ul li {
    list-style: none;
    display: inline;
    margin: 30px;
  }
  .navbar ul li a {
    color: white;
    font-size: 20px;
  }
  .navbar ul li a.active {
    color: #FFCC5C;
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .header .header-title a {
    animation: animate--about-intro__small 1.5s ease-in-out;
    top: 30%;
    font-size: 20px;
  }
  .header .header-subtitle {
    top: 40%;
    font-size: 30px;
  }
  .header .header-legend {
    left: 5%;
    top: 55%;
    font-size: 15px;
  }

  .navbar {
    background-color: #2656B2;
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .navbar ul li {
    list-style: none;
    display: inline;
    margin: 20px;
  }
  .navbar ul li a {
    color: white;
    font-size: 20px;
  }
  .navbar ul li a.active {
    color: #FFCC5C;
    font-size: 20px;
  }
}
.footer {
  background-color: #ffd882;
}
.footer .footer-profile {
  text-align: center;
  padding: 6px;
}
.footer .footer-profile .footer-profile--image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.footer .footer-profile .footer-profile--text {
  font-size: 21px;
  white-space: pre-line;
}
.footer .footer-profile .footer-profile--text a {
  color: black;
  text-decoration: none;
}
.footer .footer-social {
  text-align: center;
}

/* $active: #2C3E50 */
/* $inactive: #AEB6BF */
#about {
  height: 100vh;
  padding-top: 40px;
  background-color: #355C7D;
}

h1 {
  text-align: center;
  margin: 20px 0 250px 0;
  color: white;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0;
}

.input {
  width: 25px;
  height: 25px;
  background-color: #C5CC40;
  position: relative;
  border-radius: 50%;
}
.input:hover {
  cursor: pointer;
}
.input::before, .input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #C5CC40;
  width: 13.3333333333vw;
  height: 5px;
  max-width: 166.6666666667px;
}
.input::before {
  left: calc(-13.3333333333vw + 12.5px);
}
.input::after {
  right: calc(-13.3333333333vw + 12.5px);
}
.input.active {
  background-color: #C5CC40;
}
.input.active::before {
  background-color: #C5CC40;
}
.input.active::after {
  background-color: #616324;
}
.input.active span {
  font-weight: 700;
}
.input.active span::before {
  font-size: 13px;
}
.input.active span::after {
  font-size: 15px;
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: #616324;
}
.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
  color: white;
}
.input span::after {
  content: attr(data-year);
  top: 25px;
  transform: translateX(-50%);
  font-size: 14px;
}
.input span::before {
  content: attr(data-info);
  top: -65px;
  width: 70px;
  transform: translateX(-5px) rotateZ(-45deg);
  font-size: 12px;
  text-indent: -10px;
}

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px;
  color: white;
}
.description-flex-container p {
  margin-top: 0;
  display: none;
  white-space: pre-line;
}
.description-flex-container p.active {
  display: block;
}

@media (min-width: 1250px) {
  .input::before {
    left: -154.1666666667px;
  }

  .input::after {
    right: -154.1666666667px;
  }
}
@media (max-width: 850px) {
  h1 {
    text-align: center;
    margin: 20px 0 30px 0;
    color: white;
  }

  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-13.3333333333vw + 8.5px);
  }
  .input::after {
    right: calc(-13.3333333333vw + 8.5px);
  }
}
@media (max-width: 600px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }

  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #616324;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }

  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  body {
    min-height: 950px;
  }
}
#skills {
  height: 100vh;
  padding-top: 40px;
  background-color: #F8B195;
  position: relative;
}

.skills--languages span {
  color: #2656B2;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  position: relative;
}
.skills--languages .skills--languages-php .php-title {
  color: #FFCC5C;
}
.skills--languages .skills--languages-php .php-percentatge {
  color: #2656B2;
}

/* -------CHARTS--------- */
.chart-php {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
  left: 25%;
}
.chart-php.animate-external svg .circle--external-background, .chart-php.animate-external svg .circle--external-percentatge {
  animation: chart-offset 3s ease-in-out forwards;
  animation-delay: 0.5s;
}
.chart-php.animate-external percentatge--external::after {
  animation: chart-php-external 3s steps(50) forwards;
  animation-delay: 0.5s;
}
.chart-php.animate-external percentatge--internal::after {
  animation: chart-php-internal 3s steps(75) forwards;
  animation-delay: 0.5s;
}
.chart-php.animate-internal svg .circle--internal-background, .chart-php.animate-internal svg .circle--internal-percentatge {
  animation: chart-offset 3s ease-in-out forwards;
  animation-delay: 0.5s;
}
.chart-php svg {
  width: 100%;
  height: 100%;
}
.chart-php svg .circle--external-background, .chart-php svg .circle--external-percentatge {
  r: 95px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #2656B2;
  stroke-width: 10px;
}
.chart-php svg .circle--external-percentatge {
  stroke: #8da842;
  stroke-dasharray: 298.3px 596.6px;
  stroke-dashoffset: 298.3px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.chart-php svg .circle--internal-background, .chart-php svg .circle--internal-percentatge {
  r: 90px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #F67280;
  stroke-width: 7px;
}
.chart-php svg .circle--internal-percentatge {
  stroke: #a85163;
  stroke-dasharray: 423.9px 565.2px;
  stroke-dashoffset: 423.9px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.chart-php percentatge--external {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: #8da842;
  position: absolute;
  top: calc(40% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-php percentatge--external::after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.chart-php percentatge--internal {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: #a85163;
  position: absolute;
  top: calc(60% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-php percentatge--internal::after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.chart-php .percentatge--external-tooltip {
  visibility: hidden;
  width: 84px;
  height: 22px;
  bottom: 73%;
  left: 58%;
  margin-left: -60px;
  background-color: #2656B2;
  color: #8da842;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.chart-php:hover .percentatge--external-tooltip {
  visibility: visible;
}
.chart-php .percentatge--internal-tooltip {
  visibility: hidden;
  width: 84px;
  height: 22px;
  top: 73%;
  left: 58%;
  margin-left: -60px;
  background-color: #F67280;
  color: #a85163;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.chart-php:hover .percentatge--internal-tooltip {
  visibility: visible;
}

@keyframes chart-php-external {
  100% {
    transform: translateY(-125rem);
  }
}
@keyframes chart-php-internal {
  100% {
    transform: translateY(-187.5rem);
  }
}
.chart-js {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
  left: 25%;
}
.chart-js.animate-external svg .circle--external-background, .chart-js.animate-external svg .circle--external-percentatge {
  animation: chart-offset 3s ease-in-out forwards;
  animation-delay: 0.5s;
}
.chart-js.animate-external percentatge--external::after {
  animation: chart-js-external 3s steps(80) forwards;
  animation-delay: 0.5s;
}
.chart-js.animate-external percentatge--internal::after {
  animation: chart-js-internal 3s steps(20) forwards;
  animation-delay: 0.5s;
}
.chart-js.animate-internal svg .circle--internal-background, .chart-js.animate-internal svg .circle--internal-percentatge {
  animation: chart-offset 3s ease-in-out forwards;
  animation-delay: 0.5s;
}
.chart-js svg {
  width: 100%;
  height: 100%;
}
.chart-js svg .circle--external-background, .chart-js svg .circle--external-percentatge {
  r: 95px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #2656B2;
  stroke-width: 10px;
}
.chart-js svg .circle--external-percentatge {
  stroke: #8da842;
  stroke-dasharray: 477.28px 596.6px;
  stroke-dashoffset: 477.28px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.chart-js svg .circle--internal-background, .chart-js svg .circle--internal-percentatge {
  r: 90px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #F67280;
  stroke-width: 7px;
}
.chart-js svg .circle--internal-percentatge {
  stroke: #a85163;
  stroke-dasharray: 113.04px 565.2px;
  stroke-dashoffset: 113.04px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.chart-js percentatge--external {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: #8da842;
  position: absolute;
  top: calc(40% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-js percentatge--external::after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.chart-js percentatge--internal {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: #a85163;
  position: absolute;
  top: calc(60% - 1.25rem);
  left: 0;
  font-size: 0;
}
.chart-js percentatge--internal::after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.chart-js .percentatge--external-tooltip {
  visibility: hidden;
  width: 84px;
  height: 22px;
  bottom: 73%;
  left: 58%;
  margin-left: -60px;
  background-color: #2656B2;
  color: #8da842;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.chart-js:hover .percentatge--external-tooltip {
  visibility: visible;
}
.chart-js .percentatge--internal-tooltip {
  visibility: hidden;
  width: 84px;
  height: 22px;
  top: 73%;
  left: 58%;
  margin-left: -60px;
  background-color: #F67280;
  color: #a85163;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.chart-js:hover .percentatge--internal-tooltip {
  visibility: visible;
}

@keyframes chart-js-external {
  100% {
    transform: translateY(-200rem);
  }
}
@keyframes chart-js-internal {
  100% {
    transform: translateY(-50rem);
  }
}
section#experience {
  height: 100vh;
  padding-top: 40px;
  background-color: #355C7D;
  position: relative;
}

section#experience:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

section#experience article {
  width: 100%;
  height: 33%;
  position: relative;
}

section#experience article:after {
  content: "";
  display: block;
  clear: both;
}

section#experience article div.inner {
  width: 40%;
  float: left;
  margin: 5px;
  border-radius: 6px;
}

section#experience article div.inner span.date {
  display: block;
  width: 70px;
  height: 68px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303b;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 7px #25303b;
}

section#experience article div.inner span.date span {
  display: block;
  text-align: center;
}

section#experience article div.inner span.date span.month {
  font-size: 20px;
}

section#experience article div.inner span.date span.year {
  font-size: 12px;
}

section#experience article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

section#experience article div.inner h2:after {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
}

section#experience article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}

section#experience article:nth-child(2n+2) div.inner {
  float: right;
}

section#experience article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}

section#experience article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}

section#experience article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}

section#experience article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}

section#experience article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}

section#experience article:nth-child(3) div.inner h2 {
  background: #e67e22;
}

section#experience article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}

/* section#experience article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#experience article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#experience article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#experience article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
} */
@media (max-width: 1024px) {
  section#experience:before {
    left: 10%;
  }

  section#experience article div.inner span.date {
    left: 10%;
  }

  section#experience article div.inner {
    width: 75%;
    border-radius: 6px;
    margin-left: 200px;
  }

  section#experience article:nth-child(n) div.inner {
    float: left;
  }

  section#experience article:nth-child(n) div.inner h2:after {
    left: -5px;
  }
}
@media (max-width: 768px) {
  section#experience article div.inner {
    width: 70%;
    border-radius: 6px;
    margin-left: 20%;
  }
}
@media (max-width: 500px) {
  section#experience article div.inner {
    width: 65%;
    border-radius: 6px;
    margin-left: 25%;
  }
}

/*# sourceMappingURL=styles.css.map */
